/* Apply the 'Jost' font to all elements on the page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

/* Style the logo: center it and add padding at the top */
header[role="logo"] {
    padding-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}


/* Style the navigation bar: center the text, make it black, and add padding at the top */
.navigation {
    font-weight: 300;
    color: black;
    text-align: center;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: grey;
}

/* Style the navigation links: remove the underline, make them black, and add padding */
.navigation a {
    color: black;
    padding: 30px;
    text-decoration: none;
    font-size: 20px;
}

/* Change the color of navigation links when they're hovered over */
.navigation a:hover {
    color: white;
}

/* Style the main section: use flexbox for layout and set the background color */
main section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #676a6c;
}

.banner
{
    max-height: 500px;
}
  
/* Style the divs inside the main section: add a border, padding, and margin */
main section div {
    font-weight: 500;
    padding: 5px;
    margin: 5px;
} 

/* Style the h2 elements inside the divs in the main section: center the text and add margin at the top */
main section div h2 {
    font-family: 'Jost';
    color:black;
    margin-top: 20px;
    text-align: center;
}

/* Style the footer: set the background color, make the text white, and add padding */
footer {
    background-color: #343a40;
    padding: 10px;
    text-align: center;
}

/* Make images responsive: they'll never be wider than their container and will scale proportionally */
img {
    max-width: 100%;
    height: auto;
}